<!doctype html>
<html lang="en">
    <head>
        <title>Online Store App :: Dashboard</title>

        <!-- stylesheet start section -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/custom.css" rel="stylesheet" />
        <!-- stylesheet end section -->

        <!-- javascript section start -->
        <script src="js/jquery-2.2.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/global.js"></script>
        <script src="js/index.js"></script>
        <!-- javascript section end -->
    </head>

    <body>
        <!-- <img id="bg_image" src="images/home_img.jpg" /> -->
        <div class="container">
            <div class="row" style="margin-top:50px;">
                <img src="images/logo.png" />
                <span class="pull-right">Howdy, John Doe</span>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:50px">
            
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Created with love by Femi Oladeji | <a href="#" style="font-weight:bold">About this product</a></p>
                </div>
            </div>
        </div>
    </body>
</html>