<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" />
                    </a>
                </div>
              
                 <span class="logout-spn" >
                  <h4 class="usersname"><%= name %></h4> 
                  <a id="logout" style="color:#fff; font-size:16px; cursor:pointer">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li >
                        <a href="/dashboard" ><i class="fa fa-desktop "></i>Dashboard </a>
                    </li>
                    <li>
                        <a href="/user"><i class="fa fa-user "></i>User Profile</a>
                    </li>
                    <li>
                        <a href="/stores"><i class="fa fa-shopping-cart"></i>Stores</a>
                    </li>
                    <li>
                        <a href="/products"><i class="fa fa-gift "></i>Products</i></a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->